.class-page-container {
    background-color: gray;
}

.class-div {
    /* background-color: aqua; */
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.class-image > img {
    /* background-color: red; */
    /* height: 500px;
    width: 600px; */
    height: 100%;
    width: 100%;
}
.class-text{
    /* background-color: green; */
    color: black;
    width: 50%;
    margin-left: 40px;    
}
.class-text > h1{
    /* font-family: 'UnifrakturCook', cursive; */
    font-size: 70px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
    text-align: center;
    -webkit-text-stroke: 3px rgb(32, 26, 26);
}


.class-text > li{
    font-size: 16px;
}
.class-text > p{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    /* border-bottom: 2px solid black; */
}

.classes-title {
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
    -webkit-text-stroke: 3px rgb(32, 26, 26);
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


@media only screen and (max-width: 867px) {


    .class-text > h1{
        font-size: 50px;
        /* background-color: pink; */
    }

    .classes-title {
        font-family: 'Mochiy Pop One', sans-serif;
        color: black;
        -webkit-text-stroke: 3px rgb(32, 26, 26);
        font-size: 75px;
        text-align: center;
    }



}
@media only screen and (max-width: 730px) {


    .class-text > h1{
        font-size: 30px;
        /* background-color: yellowgreen; */
    }

    .classes-title {
        font-family: 'Mochiy Pop One', sans-serif;
        color: black;
        -webkit-text-stroke: 3px rgb(32, 26, 26);
        font-size: 60px;
        text-align: center;
    }



}