.classes-div {
    background-color: aquamarine;
}

.class-div {
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    background-color: green;
}

.class-image {
}
.class-text{

}

img {
    height: 100%;
    width: 100%;
}

.our-services-title {
    font-size: 100px;
}