.contact-greeting {
    /* border: 1px solid red; */
    font-size: 20px;
    padding-bottom: 100px;
    color: #e53d27ee;
    -webkit-text-stroke: 1px black;
    text-align: center;
    column-gap: 40px; 
    /* backdrop-filter: blur(5px); */

    font-family: 'Mochiy Pop One', sans-serif;

}

.contact-greeting > h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    padding-bottom: 20px;

}

.contact-container2 > img {
    height: 100%;
    width: 100%;
    justify-items: center;
}
.contact-container2 {
    text-align: center;
}
.contact-container1 {
    /* height: 750px; */
    background: url('black_steel_wallpaper.jpg') center center/cover no-repeat;

    /* background-image: url("steel_wallpaper.jpg"); */
    background-size: 1700px;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
}
.title-container {
    font-family: 'Rubik Glitch', cursive;    /* color: black; */
    -webkit-text-stroke: 3px #e53d27ee;
    font-size: 100px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    /* backdrop-filter: blur(5px); */


}

.contact-info > h1{
    /* border: 1px solid blue; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 28px;
    text-align: center;
    filter: blur(0);


    font-family: 'Mochiy Pop One', sans-serif;

    color: white;

    padding-bottom: 20px;
}
.contact-info {
    /* backdrop-filter: blur(5px); */
    /* filter: blur(5px); */

    padding-bottom: 20px;
}