.contact-greeting {
    /* border: 1px solid red; */
    font-size: 18px;
    padding-bottom: 100px;
    color: black;
    -webkit-text-stroke: 2px red;

    column-gap: 40px; 
}

.contact-container2 > img {
    height: 100%;
    width: 100%;
    justify-items: center;
}
.contact-container2 {
    text-align: center;
}
.conta {
    font-family: 'UnifrakturCook', cursive;
    color: black;
    -webkit-text-stroke: 2px red;
    font-size: 150px;
}

.contact-info > h1{
    /* border: 1px solid blue; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    padding-bottom: 20px;
}