.gallery-container {
    background-image: url('FightCultureBlackLogo.png');
    background-size: 500px 500px;
    
}
h1 span { 
    backdrop-filter: blur(10px);
    font-family: 'UnifrakturCook', cursive;

    color: black;
    -webkit-text-stroke: 3px red;
    font-size: 150px;
    border-radius: 30px;
    /* opacity: 5; */

}
.gallery-image-container { 
    text-align: center;
}

.gallery-image-container > img {
    height: 75%;
    width: 75%;

}