.gallery-container {
    background-image: url('FightCultureBlackLogo.png');
    background-size: 562px 562px;
}
h1 span { 
    backdrop-filter: blur(8px);

    color: white;
    border-radius: 10px;

    font-family: 'Mochiy Pop One', sans-serif;
    -webkit-text-stroke: 1px red;
    font-size: 160px;
    text-align: center;

    animation: fadeInAnimation ease-in 0.8s;


}
.gallery-image-container { 
    text-align: center;
}

.gallery-image-container > img {
    height: 75%;
    width: 75%;

}

@media only screen and (max-width: 700px) {
    h1 span { 
        font-size:75px;
    }
}
@media only screen and (max-width: 500px) {
    h1 span { 
        font-size:50px;
    }
}