.instructor-page-container {
    background-color: rgb(114, 116, 116);
}

.instructor-div {
    /* background-color: aqua; */
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.instructor-image > img{
    /* background-color: red; */
    height: 70%;
    width: 70%;
}
.instructor-text{
    /* background-color: green; */
    color: black;
    width: 50%;
    margin-left: 40px;    
}
.instructor-text > h1{
    /* font-family: 'UnifrakturCook', cursive; */
    font-size: 70px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
    text-align: center;
    -webkit-text-stroke: 3px rgb(32, 26, 26);

}
.instructor-text > h2{
    /* font-family: 'UnifrakturCook', cursive; */
    font-size: 25px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
    text-align: center;
    -webkit-text-stroke: 1px rgb(117, 38, 38);
    padding-top: 10px;
    padding-bottom: 10px;

}

.instructor-text > p{
    text-align: center;
    font-size: 18px;
}

.instructors-title {
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
    -webkit-text-stroke: 3px rgb(32, 26, 26);
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


@media only screen and (max-width: 867px) {


    .instructor-text > h1{
        font-size: 50px;
        /* background-color: pink; */
    }

    .instructors-title {
        font-family: 'Mochiy Pop One', sans-serif;
        color: black;
        -webkit-text-stroke: 3px rgb(32, 26, 26);
        font-size: 75px;
        text-align: center;
    }



}
@media only screen and (max-width: 730px) {


    .instructor-text > h1{
        font-size: 30px;
        /* background-color: yellowgreen; */
    }

    .instructors-title {
        font-family: 'Mochiy Pop One', sans-serif;
        color: black;
        -webkit-text-stroke: 3px rgb(32, 26, 26);
        font-size: 60px;
        text-align: center;
    }



}