.instructor-page-container {
    /* background-color: rgb(114, 116, 116); */
    background-image: url("white-brick-wall.jpg"); 


}

.instructor-div {
    /* background-color: aqua; */
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.instructor-image > img{
    background-color: red;
    height: 70%;
    width: 70%;
    

    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;

    box-shadow: 0 5px 20px red;
    -webkit-filter: drop-shadow(0 5px 20px red);
    filter: drop-shadow(0 5px 20px red);
    border-radius: 10px;

}
.instructor-image-kyle > img{
    background-color: red;
    height: 85%;
    width: 85%;

    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;

    box-shadow: 0 5px 20px red;
    -webkit-filter: drop-shadow(0 5px 20px red);
    filter: drop-shadow(0 5px 20px red);
    border-radius: 10px;

}
.instructor-text{
    /* background-color: green; */
    color: black;
    width: 50%;
    margin-left: 40px;   
    -webkit-animation: fadeInRight 1.2s both;
    -moz-animation: fadeInRight 1.2s both;
    -o-animation: fadeInRight 1.2s both;
    animation: fadeInRight 1.2s both; 
}

.instructor-text > h1{
    font-family: 'UnifrakturCook', cursive;
    font-size: 70px;
    font-family: 'Mochiy Pop One', sans-serif;
    /* color: black; */
    text-align: center;
    -webkit-text-stroke: 1px red;
    margin-bottom: 25px;
    -webkit-text-fill-color: transparent;


}
.instructor-text > h2{
    font-family: 'UnifrakturCook', cursive;
    font-size: 25px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
    text-align: center;
    -webkit-text-stroke: 1px red;
    margin-bottom: 20px;


}
.instructor-text > h3{
    font-family: 'UnifrakturCook', cursive;
    font-size: 19px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
    text-align: center;
    /* -webkit-text-stroke: 1px black; */
    /* margin-left: 100px; */
    margin-bottom: 20px;

}

.instructor-text > p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.instructors-title {
    font-family: 'PT Sans', sans-serif;
    color: black;
    -webkit-text-stroke: 1.5px red;
    font-size: 150px;
    text-align: center;
    padding-top: 50px;
    /* -webkit-text-fill-color: transparent; */
    padding-bottom: 50px;
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation: fadeInTop 1.2s both;
}


@media only screen and (max-width: 867px) {

    .instructor-text > h1{
        font-size: 50px;
        /* background-color: pink; */
    }

    .instructors-title {
        font-family: 'PT Sans', sans-serif;
        color: black;
        -webkit-text-stroke: 1.5px red;
        font-size: 100px;
        text-align: center;
    }

}
@media only screen and (max-width: 730px) {


    .instructor-text > h1{
        font-size: 40px;
        margin-top: 50px;
        /* background-color: yellowgreen; */
    }
    .instructor-text {
        width: 80%;
    }

    .instructors-title {
        font-family: 'PT Sans', sans-serif;
        color: black;
        -webkit-text-stroke: 1.5px red;
        font-size: 100px;
        text-align: center;
    }

    .instructor-div {
        flex-direction: column;

    }

    .instructor-image {
        text-align: center;
    }
    .instructor-image-kyle {
        text-align: center;
    }

}

@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@-webkit-keyframes fadeInRight {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight {
    0%{
        opacity: 0;
        -moz-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInRight {
    0%{
        opacity: 0;
        -o-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes fadeInTop {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInTop {
    0%{
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInTop {
    0%{
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInTop {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
