
/* .schedule-container {
    background-image: url('FightCultureBlackLogo.png');
    background-size: 562px 562px;
} */

.schedule-image-container > img {
    height: 100%;
    width: 100%;
    animation: fadeInAnimation ease-in 0.8s;


}