.cards {
    padding: 4rem;
    background: url('steel_wallpaper_bottom.jpg');
    background-color: black;
    background-repeat: repeat-y;
    background-size: 2000px;
}
  
.fc-header {
    text-align: center;
    color: white;
    font-size: 160px;
    font-weight: bold;
    margin-bottom: 90px;
    margin-top: -65px;
    font-family: 'UnifrakturCook', cursive;
    background: -webkit-linear-gradient(gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.cards__container {
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}
  
.cards_wrapper {
    position: relative;
    margin: 50px 0 45px;
}
  
.cards__items {
    margin-bottom: 24px;
}
  
.cards__item {
    display: flex;
    flex: 1;
    margin: 0 2rem;
    border-radius: 10px;
    margin-bottom: 35px;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 5px 20px red;
    -webkit-filter: drop-shadow(0 5px 20px red);
    filter: drop-shadow(0 5px 20px red);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards__item__link2 {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 0px 0px red;
    -webkit-filter: drop-shadow(0 0px 0px red);
    filter: drop-shadow(0 0px 0px red);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards__item__pic-wrap {
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}
  
.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    background-color: #e53d27ee;
    box-sizing: border-box;
    border-radius: 10px;
}

.cards__item__pic-wrap-2::after {
    content: attr(data-category);
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    background-color: #e53d27ee;
    box-sizing: border-box;
    border-radius: 10px;
}
  
.cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}      

.cards__item__img2 {
    position: absolute;
    top: 20px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    display: block;
    width: 90%;
    max-width: 90%;
    height: 90%;
    max-height: 90%;
    text-align: center;
    object-fit: cover;
    transition: all 0.2s linear;
}      
  
.cards__item__img:hover {
    transform: scale(1.1);
}

.cards__item__img2:hover {
    transform: scale(1.1);
}
  
.cards__item__info {
    padding: 20px 30px 30px;
    text-align: center;
}

.cards__item__text:hover {
    color: white;
}
  
.cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}
  
@media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
}
  
@media only screen and (min-width: 1024px) {

    .cards__items {
      display: flex;
      flex-direction: column;
    }
}
  
@media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }

    .cards__container {
        display: flex;
    }

    .cards__item__info {
        padding: 3px 75px 3px 75px;
        text-align: center;
    }

    .cards__item__text {
        font-size: 16px;
        color: white;
    }

    .cards__item__text:hover {
        color: rgb(47, 37, 94)
    }

}

@media only screen and (max-width: 500px) {

    .cards__item {
        display: flex;
        flex-direction: column;
    }

    .fc-header {
        text-align: center;
        margin-left: -15px;
    }

    .cards__item__link2 > img {
        background-color: white;
        margin-top: 50px;
        object-fit: cover;
    }

    .cards__item__link > img {
        object-fit: cover;
    }

    .cards__item__pic-wrap-2 {
        width: 100%;
        padding-top: 67%;
        margin-top: 90px;
    }

}

@media only screen and (max-width: 980px) {

    .fc-header {
        margin-top: 25px;
    }

}

@media only screen and (max-width: 800px) {

    .cards__item {
        margin-bottom: 2rem;
    }
    
    .cards__container {
        display: flex;
    }

    .cards__item__info {
        padding: 5px 75px 15px;
    }

    .cards__item__text {
        font-size: 12px;
    }

    .fc-header {
        font-size: 60px;
    }

    .cards__item__img2 {
        position: absolute;
        top: -20px;
        right: 0;
        bottom: 0;
        left: 20px;
        display: block;
        width: 90%;
        max-width: 90%;
        height: 90%;
        max-height: 90%;
        text-align: center;
        object-fit: cover;
        transition: all 0.2s linear;
    }      
}